.box {
  background: #44f;
  height: 20px;
  width: 600px;
  position: relative;
  /*the code below: grow is an arbitrary word. think of it like a variable*/
  animation: grow 4s infinite;
}

@keyframes grow {
  /*0% is where it starts */
  0% {
    top: 0px;
    width: 300px;
    background: red;
  }
  /*50% of the 4 seconds we declared above*/
  50% {
    top: 100px;
    width: 500px;
    background: green;
  }
  100% {
    top: 500px;
    width: 1000px;
    background: yellow;
  }
}

.box2 {
  background: purple;
  height: 50px;
  width: 50px;
  top: 400px;
  position: relative;
  animation: movesquareformation 5s infinite;
}

@keyframes movesquareformation {
  0% {
    top: 400px;
    left: 0px;
  }
  25% {
    top: 400px;
    left: 200px;
  }
  50% {
    top: 500px;
    left: 200px;
  }
  75% {
    top: 500px;
    left: 0px;
  }
  100% {
    top: 500px;
    left: 100px;
  }
}

#layer_1 {
  position: relative;
  height: 200px !important;
  
}
